/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}
/* Variables */
:root {
  --ladybug-red: #a51515;
  --ladybug-pink: #dda6a6;
  --ladybug-white: #f8ebeb;
  --ladybug-black: #5c517e;

  --mobile-h1-fontsize: 2.5rem;
  --mobile-h2-fontsize: 1.5rem;
  --mobile-p-fontsize: 1rem;
  --mobile-button-text-fontsize: 0.75rem;

  --desktop-h1-fontsize: 3rem;
  --desktop-h2-fontsize: 2.5rem;
  --desktop-p-fontsize: 1.5rem;
  --desktop-button-text-fontsize: 1rem;
}

/* Fonts */
h1,
h2,
p,
button {
  font-family: "Work Sans", sans-serif;
}
h1 {
  color: var(--ladybug-white);
  line-height: 1.1;
  grid-column-start: 2;
  margin: 0 0 1rem 0;
}

h2 {
  color: var(--ladybug-white);
  line-height: 1.1;
}

p {
  color: var(--ladybug-black);
  line-height: 1.5;
}
body {
  background-image: url("../ladybug_cycle_assets/leaf_background_site.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: contain;
}
/* Cursor */

.ladybug_cursor {
  position: absolute;
  background: var(--ladybug-red);
  border-radius: 5rem;
  mix-blend-mode: color-dodge;
  opacity: 80%;
  width: 3rem;
  height: 3rem;
  top: 0;
  left: 0;
}

/* Layout */
.button_area {
  padding-top: 1rem;
  display: flex;
  background-color: var(--ladybug-pink);
  justify-content: space-around;
  z-index: 1;
  position: absolute;
  bottom: 10px;
}
button {
  background-color: var(--ladybug-red);
  color: var(--ladybug-white);
  border: none;
  text-align: center;
  border-radius: 0.25rem;
  padding: 0.3rem;
}
.continue_button {
  justify-content: center;
}
button:hover {
  background-color: var(--ladybug-black);
  color: var(--ladybug-pink);
  cursor: pointer;
}

.slide p {
  background-color: var(--ladybug-white);
  border-radius: 0.5rem;
  padding: 1rem;
}
body {
}
.slide {
  background-color: var(--ladybug-pink);
  padding: 2rem;
  opacity: 0;
  transition: all 300ms;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.slide.completed-action {
  background: var(--ladybug-black);
}

button {
  font-family: "Work Sans", sans-serif;
}
/* FAQ Layout */
.faq {
}

/* Mobile only */
@media (max-width: 49.9375em) {
  h1 {
    font-size: var(--mobile-h1-fontsize);
  }
  h2 {
    font-size: var(--mobile-h2-fontsize);
  }
  p {
    font-size: var(--mobile-p-fontsize);
  }
  button {
    font-size: var(--mobile-button-text-fontsize);
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .button_area {
    max-height: 100px;
    padding-bottom: 1rem;
    z-index: 2;
  }
  .slide {
  }
}

/* Desktop only */
@media (min-width: 50em) {
  h1 {
    font-size: var(--desktop-h1-fontsize);
  }
  h2 {
    font-size: var(--desktop-h2-fontsize);
  }
  p {
    font-size: var(--desktop-p-fontsize);
  }
  button {
    font-size: var(--desktop-button-text-fontsize);
  }

  .slide {
    max-width: 20em;
    min-height: 100vh;
  }

  .button_area {
  }
}
